h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}
