@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  background-color: #ffffff;
  color: #2b2b2b;
}

a {
  color: #487996;
}

.section {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
  }
}

.hero-title {
  color: #487996;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
  }
}

.section-title {
  color: #487996;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}

.secondary-title {
  color: #487996;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1440px) {
  .secondary-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2777777778;
  }
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams_Bold.eot");
  src: local("☺"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.header__logo {
  width: 101px;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__logo {
    width: 125px;
    height: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 192px;
    height: 48px;
  }
}

.icon-menu-close {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.header__menu {
  display: none;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  height: 144px;
}
@media screen and (min-width: 1440px) {
  .header__menu {
    display: flex;
  }
}

.header__menu-item {
  position: relative;
}

.header__menu-link {
  padding-top: 12px;
  padding-bottom: 7px;
  font-family: "Caviar Dreams";
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4px;
}

.header__icon-menu {
  fill: #008cef;
  transform: rotate(180deg);
  width: 10px;
  height: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-item:hover .header__icon-menu {
  transform: rotate(0deg);
}

.sub__menu {
  position: absolute;
  width: 144px;
  height: 114px;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -5px);
  border-bottom-left-radius: 72px;
  border-bottom-right-radius: 72px;
  padding-top: 37px;
  font-size: 16px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-item:hover .sub__menu,
.header__menu-item:focus .sub__menu {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.header__sub-menu-link {
  padding-top: 4px;
  font-family: "Caviar Dreams";
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}

.adaptive-content {
  display: flex;
  justify-content: right;
  align-items: center;
}
.lang-button {
  margin: 0;
  padding: 28px 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Caviar Dreams";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;
  color: #bdbdbd;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lang-button {
    margin-right: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .lang-button {
    margin-right: 118px;
    padding: 63px 0;
  }
}

.header__contacts {
  display: none;
  flex-direction: column;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: inline-flex;
  }
}
@media screen and (min-width: 1440px) {
  .header__contacts {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.header__contacts-logo {
  fill: #008cef;
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-family: "Cera Pro";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: inherit;
  padding: 5px;
}
@media screen and (min-width: 1440px) {
  .header__contacts-link {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.menu-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #487996;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle--close {
  left: 60%;
}
@media screen and (min-width: 1440px) {
  .menu-toggle--close {
    display: none;
  }
}

.icon-menu-close {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #008cef;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .phone-button {
    display: none;
  }
}

.phone-icon {
  fill: currentColor;
}

.pop-up__thumb {
  display: flex;
  margin: 0;
  padding: 0;
  width: 162px;
  height: 94px;
  background-color: rgb(114, 51, 47);
  background-image: url(../images/header/pop-up-phone-area.svg);
  background-repeat: no-repeat;
  background-position: left top;
}

.pop-up__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up__contacts-link {
  font-family: "Cera Pro";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: inherit;
  color: red;
}
@media screen and (min-width: 1440px) {
  .pop-up__contacts-link {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.menu-container {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -30px);
  pointer-events: none;
  height: 100vh;
  overflow: auto;
  padding: 40px 10px;
  background-color: transparent;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .menu-container {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu-container {
    width: 380px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-container {
    display: none;
  }
}

.is-open {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.menu__set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.menu__link--main {
  color: white;
  -webkit-text-stroke: 1px #487996;
}

.menu__link--services {
  font-weight: 600;
  text-transform: none;
}

.menu__link--services::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  display: block;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 7px;
  height: 7px;
  background-color: currentColor;
}/*# sourceMappingURL=index.css.map */