@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  background-color: #ffffff;
  color: #2b2b2b;
}

a {
  color: #487996;
}

.section {
  padding-top: 40px;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
  }
}

.hero-title {
  color: #487996;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
  }
}

.section-title {
  color: #487996;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}

.secondary-title {
  color: #487996;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1440px) {
  .secondary-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2777777778;
  }
}

main {
  position: relative;
  z-index: 999;
}

.header {
  position: relative;
  z-index: 999;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams_Bold.eot");
  src: local("☺"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.btn {
  width: 280px;
  height: 56px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #487996;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  cursor: pointer;
  transition: color background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: #ffffff;
  background: #487996;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 277px;
    height: 56px;
  }
}

.order-form-button {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .order-form-button {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .order-form-button {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .bg-img-mob {
    max-width: 480px;
    background-image: url(../images/mobile-bg@1x.png);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-img-mob {
    background-image: url(../images/mobile-bg@2x.png);
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-main {
    width: 768px;
    height: 1608px;
    background-image: url(../images/main/main-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-main {
    background-image: url(../images/main/main-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-main {
    width: 1440px;
    height: 3097px;
    background-image: url(../images/main/main-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-main {
    background-image: url(../images/main/main-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-3d-mod {
    width: 768px;
    height: 1318px;
    background-image: url(../images/3d-modeling/3d-modeling-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-3d-mod {
    background-image: url(../images/3d-modeling/3d-modeling-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-3d-mod {
    width: 1440px;
    height: 1727px;
    background-image: url(../images/3d-modeling/3d-modeling-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-3d-mod {
    background-image: url(../images/3d-modeling/3d-modeling-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-3d-scan {
    width: 768px;
    height: 1249px;
    background-image: url(../images/3d-scanning/3d-scanning-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-3d-scan {
    background-image: url(../images/3d-scanning/3d-scanning-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-3d-scan {
    width: 1440px;
    height: 1596px;
    background-image: url(../images/3d-scanning/3d-scanning-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-3d-scan {
    background-image: url(../images/3d-scanning/3d-scanning-bg@1x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-3d-print {
    width: 768px;
    height: 1504px;
    background-image: url(../images/3d-printing/3d-printing-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-3d-print {
    background-image: url(../images/3d-printing/3d-printing-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-3d-print {
    width: 1440px;
    height: 2248px;
    background-image: url(../images/3d-printing/3d-printing-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-3d-print {
    background-image: url(../images/3d-printing/3d-printing-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-take-order {
    width: 768px;
    height: 1504px;
    background-image: url(../images/take-order/take-order-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-take-order {
    background-image: url(../images/take-order/take-order-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-take-order {
    width: 1440px;
    height: 1850px;
    background-image: url(../images/take-order/take-order-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-take-order {
    background-image: url(../images/take-order/take-order-bg@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .bg-img-contacts {
    width: 768px;
    height: 1504px;
    background-image: url(../images/contact/contact-tablet-bg@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .bg-img-contacts {
    background-image: url(../images/contact/contact-tablet-bg@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .bg-img-contacts {
    width: 1440px;
    height: 1561px;
    background-image: url(../images/contact/contact-bg@1x.png);
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .bg-img-contacts {
    background-image: url(../images/contact/contact-bg@2x.png);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
}

.header__logo {
  width: 101px;
  height: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header__logo {
    width: 125px;
    height: 31px;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 192px;
    height: 48px;
  }
}

.header__menu {
  display: none;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  height: 144px;
}
@media screen and (min-width: 1440px) {
  .header__menu {
    display: flex;
  }
}

.header__menu-item {
  position: relative;
}

.header__menu-link {
  padding-top: 12px;
  padding-bottom: 7px;
  font-family: "Caviar Dreams";
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}

.drop-down {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
}

.header__icon-menu {
  fill: #008cef;
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__sub-menu-link:hover,
.header__sub-menu-link:focus {
  color: #487996;
}

.header__menu-item:hover .header__icon-menu,
.header__menu-item:focus .header__icon-menu {
  transform: rotate(0deg) translateY(2px);
  transform: rotate(0deg);
}

.sub__menu {
  position: absolute;
  width: 144px;
  height: 114px;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -5px);
  border-bottom-left-radius: 72px;
  border-bottom-right-radius: 72px;
  padding-top: 37px;
  font-size: 16px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-item:focus-within .sub__menu {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.header__menu-item:hover .sub__menu {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.header__sub-menu-link {
  padding-top: 4px;
  font-family: "Caviar Dreams";
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2b2b2b;
}

.adaptive-content {
  display: flex;
  justify-content: right;
  align-items: center;
}

.lang-button {
  margin: 0;
  padding: 28px 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Caviar Dreams";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01em;
  color: #bdbdbd;
}
@media screen and (max-width: 767px) {
  .lang-button {
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .lang-button {
    margin-right: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .lang-button {
    margin-right: 118px;
    padding: 63px 0;
  }
}

.header__contacts {
  display: none;
  flex-direction: column;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: inline-flex;
  }
}
@media screen and (min-width: 1440px) {
  .header__contacts {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.header__contacts-logo {
  fill: #008cef;
}

.header__contacts-link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  font-family: "Cera Pro";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: inherit;
  padding: 5px;
}
@media screen and (min-width: 1440px) {
  .header__contacts-link {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.menu-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #487996;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.icon-menu-close {
  width: 32px;
  height: 32px;
}

.menu-toggle.is-open .icon-menu-close {
  width: 24px;
  height: 24px;
}

.menu-toggle .icon-cross {
  display: none;
}

.menu-toggle.is-open .icon-cross {
  display: block;
}

.menu-toggle.is-open .icon-menu {
  display: none;
}

.icon-menu-close {
  fill: currentColor;
}

.pop-up-win {
  position: relative;
}
@media screen and (min-width: 768px) {
  .pop-up-win {
    display: none;
  }
}

.phone-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #008cef;
  background-color: transparent;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .phone-button {
    display: none;
  }
}

.phone-icon {
  fill: currentColor;
}

.pop-up__thumb {
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 50%;
  transform: translate(calc(-50% - 2px), -5px);
  opacity: 0;
  margin: 0;
  padding: 28px 0 0 0;
  border-radius: 2px;
  width: 162px;
  height: 94px;
  background-image: url(../images/header/pop-up-phone-area.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}
.pop-up-win:focus-within .pop-up__thumb {
  opacity: 1;
  pointer-events: auto;
  transform: translate(calc(-50% - 2px), 0px);
}

.pop-up__contacts {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pop-up__contacts-link {
  font-family: "Cera Pro";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: inherit;
}
@media screen and (min-width: 1440px) {
  .pop-up__contacts-link {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

.menu-container {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -30px);
  pointer-events: none;
  height: 100vh;
  overflow: auto;
  padding: 40px 10px;
  background-color: white;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .menu-container {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu-container {
    width: 380px;
  }
}
@media screen and (min-width: 1440px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  opacity: 1;
  transform: translate(-50%, 0);
  pointer-events: auto;
}

.menu__set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
}

.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.menu__link--main {
  color: white;
  -webkit-text-stroke: 1px #487996;
}

.menu__link--services {
  font-weight: 600;
  text-transform: none;
}

.menu__link--services::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  display: block;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 7px;
  height: 7px;
  background-color: currentColor;
}

.footer {
  position: relative;
  z-index: 999;
  display: flex;
  background-color: #f5f5fa;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 400px;
}
@media screen and (min-width: 1440px) {
  .footer {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-right: 277px;
  }
}

.footer__logo-img {
  display: inline-block;
  width: 192px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu {
    margin-top: 19px;
  }
}
@media screen and (min-width: 768px) {
  .footer__menu {
    margin-right: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__menu {
    margin-right: 103px;
  }
}

.footer__menu-link {
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .footer__menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__menu-link:hover, .footer__menu-link:focus {
    color: #487996;
  }
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__socials {
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .footer__socials {
    margin-right: 161px;
  }
}

.footer__socials-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__socials-link {
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .footer__socials-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__socials-link:hover, .footer__socials-link:focus {
    color: #487996;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__contacts {
    text-align: end;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts-mail-wrap {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts-mail-wrap {
    margin-bottom: 16px;
  }
}

.footer__contacts-mail {
  font-style: normal;
}

.footer__contacts-mail-list {
  margin-top: 8px;
}

.footer__contacts-mail-link {
  font-style: normal;
  color: #487996;
}

.footer__contacts-tel {
  font-style: normal;
}

.footer__contacts-tel-item {
  margin-top: 8px;
}

.footer__contacts-tel-link {
  font-style: normal;
  color: #487996;
}

.more-photo__section {
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .more-photo__section {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .more-photo__section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .more-photo__container {
    width: 1206px;
  }
}

.more-photo__section-title {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .more-photo__section-title {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__section-title {
    margin-bottom: 60px;
  }
}

.more-photo__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 320px) {
  .more-photo__list {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .more-photo__list {
    max-width: 704px;
    gap: 32px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__list {
    max-width: 1142px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-auto-rows: 278px 278px 203px 278px;
    grid-auto-flow: dense;
  }
}

.more-photo__itam--wide {
  grid-column: span 2;
}

@media screen and (max-width: 318px) {
  .more-photo__item {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .more-photo__item {
    min-width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .more-photo__list--show .more-photo__item:nth-child(n+4) {
    display: none;
  }
}

.more-photo__img {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-photo__slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  pointer-events: none;
}

.more-photo__slider--open {
  opacity: 1;
  pointer-events: all;
}

.more-photo__slider-ing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 236px;
  max-width: 50%;
}
@media screen and (min-width: 1440px) {
  .more-photo__slider-ing {
    max-width: 554px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__slider-ing {
    max-width: 906px;
  }
}

.more-photo__btn-left,
.more-photo__btn-right,
.more-photo__btn-close {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  color: #ffffff;
  cursor: pointer;
}

.more-photo__btn-left {
  transform: translate(-100%, -50%);
  left: -10px;
}
@media screen and (min-width: 1440px) {
  .more-photo__btn-left {
    left: -21px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__btn-left {
    left: -32px;
  }
}

.more-photo__btn-right {
  transform: translate(100%, -50%) rotate(180deg);
  right: -10px;
}
@media screen and (min-width: 1440px) {
  .more-photo__btn-right {
    right: -21px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__btn-right {
    right: -32px;
  }
}

.more-photo__btn-close {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more-photo__icon {
  display: block;
  margin: 0;
  stroke: currentColor;
  fill: currentColor;
}
@media screen and (min-width: 1440px) {
  .more-photo__icon {
    width: 26px;
    height: 26px;
  }
}
@media screen and (min-width: 1440px) {
  .more-photo__icon {
    width: 42px;
    height: 42px;
  }
}

.more-photo__btn-show {
  display: flex;
  margin: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #487996;
  cursor: pointer;
}

.modeling-hero {
  padding-top: 40px;
}
@media screen and (min-width: 1440px) {
  .modeling-hero {
    padding-top: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .modeling-metods__conteiner {
    position: relative;
  }
}

.modeling-hero__list {
  margin-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .modeling-hero__list {
    max-width: 515px;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-hero__list {
    margin-top: 24px;
    display: flex;
    gap: 72;
  }
}

@media screen and (min-width: 1440px) {
  .modeling-hero__item {
    max-width: 515px;
  }
}

.modeling-hero__item:last-child {
  margin-top: 16px;
}
@media screen and (min-width: 1440px) {
  .modeling-hero__item:last-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 1440px) {
  .modeling-hero__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2777777778;
    max-width: 515px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-wrap {
    margin-left: 117px;
  }
}

.modeling-metods {
  padding-top: 40px;
}
@media screen and (min-width: 1440px) {
  .modeling-metods {
    padding-top: 100px;
  }
}

.modeling-metods__list {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .modeling-metods__list {
    margin-top: 24px;
  }
}

.modeling-metods__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1440px) {
  .modeling-metods__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-metods__item {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2777777778;
  }
}

.modeling-metods__item:not(:first-child) {
  margin-top: 16px;
}

.modeling-metods__item::before {
  display: inline-block;
  content: " ";
  background-color: #487996;
  width: 7px;
  height: 7px;
  border-radius: 3px 0px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .modeling-metods__item::before {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .modeling-metods__item::before {
    width: 8px;
    height: 8px;
    margin-right: 9px;
  }
}

.modeling-metods__bg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 280px;
  height: 164px;
  background-repeat: no-repeat;
  background-image: url(../images/3d-modeling/methods-img-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .modeling-metods__bg-image {
    background-image: url(../images/3d-modeling/methods-img-mobile@2x.png);
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .modeling-metods__bg-image {
    position: absolute;
    top: 70px;
    right: 0;
    margin-top: 0;
    background-image: url(../images/3d-modeling/methods-img-tablet@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .modeling-metods__bg-image {
    background-image: url(../images/3d-modeling/methods-img-tablet@2x.png);
    background-size: contain;
  }
}
@media screen and (min-width: 1440px) {
  .modeling-metods__bg-image {
    background-image: url(../images/3d-modeling/methods-img@1x.png);
    right: 250px;
    top: -60px;
    width: 555px;
    height: 301px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .modeling-metods__bg-image {
    background-image: url(../images/3d-modeling/methods-img@2x.png);
    background-size: contain;
  }
}

.modeling-metods__conteiner {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .modeling-metods__conteiner {
    margin-left: 117px;
  }
}

.we-create-model__title {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  max-width: 250px;
}
@media screen and (min-width: 768px) {
  .we-create-model__title {
    font-size: 24px;
    max-width: 648px;
  }
}
@media screen and (min-width: 1440px) {
  .we-create-model__title {
    font-size: 36px;
    max-width: 842px;
    margin-left: 117px;
  }
}

.we-create-model__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .we-create-model__list {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.we-create-model__item {
  width: 50%;
  width: calc(50% - 10px);
  margin-top: 16px;
  margin-right: 20px;
}
.we-create-model__item:nth-child(even) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .we-create-model__item {
    margin-top: 24px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .we-create-model__item {
    margin-top: 40px;
  }
}

.we-create-model__img1 {
  border-radius: 0 0 0 41%;
}

.we-create-model__img2 {
  border-radius: 40% 0;
}
@media screen and (min-width: 1440px) {
  .we-create-model__img2 {
    border-radius: 40% 0 40%;
  }
}

.section-feedback {
  margin-bottom: 60px;
}
@media screen and (min-width: 1440px) {
  .section-feedback {
    margin-bottom: 80px;
  }
}

.order-form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .order-form {
    width: 410px;
  }
}
@media screen and (min-width: 1440px) {
  .order-form {
    width: 555px;
  }
}

.order-form__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
}
@media screen and (min-width: 480px) {
  .order-form__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2777777778;
  }
}
@media screen and (min-width: 768px) {
  .order-form__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    align-self: center;
  }
}
@media screen and (min-width: 1440px) {
  .order-form__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    align-self: flex-start;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 44px;
  cursor: pointer;
}
.form-field:first-of-type {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .form-field:first-of-type {
    margin-top: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .form-field:first-of-type {
    margin-top: 44px;
  }
}

.form-field_position {
  position: relative;
}

.form-field__title {
  font-weight: 400;
  text-transform: capitalize;
}
@media screen and (min-width: 1440px) {
  .form-field__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1111111111;
  }
}

.form-field__title_position {
  position: absolute;
  bottom: 4px;
  left: 0;
  font-weight: 400;
  text-transform: capitalize;
  transform-origin: 0 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.form-field__input:not(:-moz-placeholder-shown) + .form-field__title_position {
  transform: translateY(-100%) scale(0.87);
}
.form-field__input:not(:-ms-input-placeholder) + .form-field__title_position {
  transform: translateY(-100%) scale(0.87);
}
.form-field__input:focus + .form-field__title_position, .form-field__input:hover + .form-field__title_position, .form-field__input:not(:placeholder-shown) + .form-field__title_position {
  transform: translateY(-100%) scale(0.87);
}

.form-field__input {
  border: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid #487996;
  outline: transparent;
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 100%;
  margin-top: 44px;
}

.dropdown__button {
  display: block;
  width: 100%;
  min-height: 24px;
  padding: 0 20px 0 0;
  text-align: start;
  border: 0;
  border-bottom: 1px solid #487996;
  color: #2b2b2b;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .dropdown__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1111111111;
  }
}
.dropdown__button:focus,
.dropdown__button .dropdown__button_active {
  border-bottom: 1px solid rgba(72, 121, 150, 0.5);
}

.dropdown__button_active {
  outline: none;
}

.dropdown__list {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #487996;
  transform: translateY(-50px);
}
.dropdown__button:focus + .dropdown__list {
  border-bottom: 1px solid rgba(72, 121, 150, 0.5);
}

.dropdown__list_visible {
  display: flex;
  transform: translateY(0px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown__item {
  cursor: pointer;
}
.dropdown__item:focus, .dropdown__item:hover {
  background-color: rgba(72, 121, 150, 0.5);
  color: #ffffff;
  outline: none;
}

.select-icon {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  transform: translateY(10%);
}
.form-field__select:focus + .select-icon {
  transform: rotate(180deg);
}
.dropdown__list_visible ~ .select-icon {
  transform: rotate(180deg);
}

.form-field__textarea {
  position: relative;
  resize: none;
  height: 199px;
  margin-top: 4px;
  padding: 22px 20px;
  border: 1px solid #487996;
  border-radius: 50px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .form-field__textarea {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1111111111;
  }
}
.form-field__textarea:hover {
  outline: transparent;
}
.form-field__textarea::-moz-placeholder {
  color: #cdcdcd;
}
.form-field__textarea:-ms-input-placeholder {
  color: #cdcdcd;
}
.form-field__textarea::placeholder {
  color: #cdcdcd;
}

.add-file {
  position: relative;
  width: 100%;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) {
  .add-file {
    padding-right: 0px;
    text-align: start;
  }
}

.add-file__title {
  font-weight: 400;
  color: #cdcdcd;
  width: 220px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .add-file__title {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .add-file__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1111111111;
  }
}
.add-file:focus-within .add-file__title, .add-file__title:hover {
  color: #487996;
}

.add-file__icon {
  position: absolute;
  top: -32px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #cdcdcd;
  cursor: pointer;
}
.add-file:focus-within .add-file__icon, .add-file__icon:hover {
  fill: #487996;
  transform: scale(1.5) rotate(360deg);
}

.form-button {
  width: 100%;
  height: 56px;
  padding: 0;
  margin-top: 40px;
  border-style: none;
  outline: transparent;
}
@media screen and (min-width: 768px) {
  .form-button {
    width: 177px;
    align-self: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .form-button {
    margin-top: 24px;
  }
}/*# sourceMappingURL=index.css.map */