@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  background-color: #ffffff;
  color: #2b2b2b;
}

a {
  color: #487996;
}

.section {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
  }
}

.hero-title {
  color: #487996;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
  }
}

.section-title {
  color: #487996;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}

.secondary-title {
  color: #487996;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1440px) {
  .secondary-title {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2777777778;
  }
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.eot");
  src: local("☺"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("☺"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype"), url("../fonts/CeraPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("☺"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype"), url("../fonts/CeraPro-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("☺"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype"), url("../fonts/CeraPro-Light.svg") format("svg");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("☺"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype"), url("../fonts/CeraPro-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams_Bold.eot");
  src: local("☺"), url("../fonts/CaviarDreams_Bold.woff") format("woff"), url("../fonts/CaviarDreams_Bold.ttf") format("truetype"), url("../fonts/CaviarDreams_Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}/*# sourceMappingURL=index.css.map */