$accent-color: #487996;
$main-color: #2b2b2b;
$background-color: #ffffff;
$secondary-background-color: #f5f5fa;
$svg-icons-color: #008cef;

$mobile: 480px;
$tablet: 768px;
$desktop: 1440px;

$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
