// базові стилі для секції
.more-photo__section {
  padding-bottom: 60px;

  @include max-width($tablet) {
    width: 320px;
  }

  @include min-width($tablet) {
    padding-bottom: 80px;
  }

  @include min-width($desktop) {
    padding-bottom: 100px;
  }
}

.more-photo__container {
  @include min-width($desktop) {
    width: 1206px;
  }
}

// стиль для заголовку
.more-photo__section-title {
  margin-bottom: 16px;

  @include min-width($tablet) {
    margin-bottom: 32px;
  }

  @include min-width($desktop) {
    margin-bottom: 60px;
  }
}

// стилі для списку зображень
.more-photo__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 16px;

  @include min-width(320px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @include min-width($tablet) {
    max-width: 704px;
    gap: 32px;
    margin-bottom: 12px;

    //додаю Masonry Layout
    // display: grid;
    // grid-gap: 32px;

    // // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(115.2px, 1fr));
    // grid-auto-rows: 180px 180px 152px 180px;
    // grid-auto-flow: dense;
  }

  @include min-width($desktop) {
    max-width: 1142px;

    //додаю Masonry Layout
    display: grid;
    grid-gap: 32px;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-auto-rows: 278px 278px 203px 278px;
    grid-auto-flow: dense;
  }
}

//додаю Masonry Layout
.more-photo__itam--wide {
  grid-column: span 2;
}

.more-photo__item {
  @include max-width(319px) {
    width: 100%;
  }

  @include min-width-max-width(320px, $tablet) {
    min-width: 280px;
  }
}

.more-photo__list--show {
  // & .more-photo__item {
  //   &:nth-child(n + 4) {
  //     display: none;
  //   }
  // }

  & .more-photo__item {
    @include max-width($tablet) {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}

.more-photo__img {
  cursor: pointer;

  //додаю Masonry Layout
  vertical-align: middle;
  display: inline-block;

  height: 100%;
  object-fit: cover;
}

// стилі для слайдеру
.more-photo__slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;

  overflow: scroll;

  width: 100%;
  height: 100%;

  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);

  pointer-events: none;

  transition: opacity $cubic;
}

.more-photo__slider--open {
  opacity: 1;

  pointer-events: all;
}

.more-photo__slider-ing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 236px;

  // max-width: 50%;

  transition: opacity $cubic;

  @include min-width($tablet) {
    max-width: 554px;
  }

  @include min-width($desktop) {
    max-width: 906px;
  }
}

//стилі кнопок управління слайдером
.more-photo__btn-left,
.more-photo__btn-right,
.more-photo__btn-close {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;

  color: #ffffff;

  cursor: pointer;

  transform: color $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include min-width($tablet) {
    width: 68px;
    height: 68px;
  }

  @include min-width($desktop) {
    width: 106px;
    height: 106px;
  }
}

.more-photo__btn-left {
  transform: translate(-100%, -50%);
  left: 0;

  // @include min-width($tablet) {
  //   width: 68px;
  // }

  // @include min-width($desktop) {
  //   width: 106px;
  // }
}

.more-photo__btn-right {
  transform: translate(+100%, -50%) rotate(180deg);
  right: 0;

  // @include min-width($tablet) {
  //   width: 68px;
  // }

  // @include min-width($desktop) {
  //   width: 106px;
  // }
}

.more-photo__btn-close {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

// силі для іконки завантаження
.more-photo__icon {
  display: block;
  margin: 0;

  stroke: currentColor;
  fill: currentColor;

  @include min-width($tablet) {
    width: 26px;
    height: 26px;
  }

  @include min-width($desktop) {
    width: 23px;
    height: 40px;
  }
}

// стилі для кнопки яка відкриває всю галерею

.more-photo__btn-show {
  display: flex;
  margin: auto;

  border: none;
  background-color: transparent;
  padding: 0;

  color: $accent-color;

  cursor: pointer;

  transform: color $cubic;

  &:hover,
  &:focus {
    color: $main-color;
  }

  @include min-width-max-width($tablet, $desktop) {
    visibility: hidden;
  }
}

// новий слайдер
.slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;

  overflow: scroll;

  width: 100%;
  height: 100%;

  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);

  pointer-events: none;

  transition: opacity $cubic;
}

.slider--open {
  opacity: 1;

  pointer-events: all;
}

.slider__list {
  position: relative;
  display: flex;
  justify-self: center;
  align-items: center;
  width: calc(100% * 12);

  left: 0;

  // transition: left $cubic;
}

.slider__item {
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;

  transition: opacity $cubic;
}

.slider-ing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 236px;

  transition: opacity $cubic;

  @include min-width($tablet) {
    width: 554px;
  }

  @include min-width($desktop) {
    width: 906px;
  }
}

.slider__box {
  overflow: hidden;
}
