// базові стилі для секції
.more-photo__section {
  padding-bottom: 60px;

  @include miw(768px) {
    padding-bottom: 80px;
  }

  @include miw(1440px) {
    padding-bottom: 100px;
  }
}

.more-photo__container {
  @include miw(1440px) {
    width: 1206px;
  }
}

// стиль для заголовку
.more-photo__section-title {
  margin-bottom: 16px;

  @include miw(768px) {
    margin-bottom: 32px;
  }

  @include miw(1440px) {
    margin-bottom: 60px;
  }
}

// стилі для списку зображень
.more-photo__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 16px;

  @include miw(320px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  @include miw(768px) {
    max-width: 704px;
    gap: 32px;
    margin-bottom: 12px;

    //додаю Masonry Layout
    // display: grid;
    // grid-gap: 32px;

    // // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(115.2px, 1fr));
    // grid-auto-rows: 180px 180px 152px 180px;
    // grid-auto-flow: dense;
  }

  @include miw(1440px) {
    max-width: 1142px;

    //додаю Masonry Layout
    display: grid;
    grid-gap: 32px;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    grid-auto-rows: 278px 278px 203px 278px;
    grid-auto-flow: dense;
  }
}

//додаю Masonry Layout
.more-photo__itam--wide {
  grid-column: span 2;
}

.more-photo__item {
  @include maw(319px) {
    width: 100%;
  }

  @include miw-maw(320px, 767px) {
    min-width: 280px;
  }
}

.more-photo__list--show {
  // & .more-photo__item {
  //   &:nth-child(n + 4) {
  //     display: none;
  //   }
  // }

  & .more-photo__item {
    @include maw(767px) {
      &:nth-child(n + 4) {
        display: none;
      }
    }
  }
}

.more-photo__img {
  cursor: pointer;

  //додаю Masonry Layout
  vertical-align: middle;
  display: inline-block;

  height: 100%;
  object-fit: cover;
}

// стилі для слайдеру
.more-photo__slider {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);

  pointer-events: none;
}

.more-photo__slider--open {
  opacity: 1;

  pointer-events: all;
}

.more-photo__slider-ing {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 236px;

  // background-color: aqua;
  // max-height: 50%;
  max-width: 50%;

  @include miw(768px) {
    max-width: 554px;
  }

  @include miw(1440px) {
    max-width: 906px;
  }
}

//стилі кнопок управління слайдером
.more-photo__btn-left,
.more-photo__btn-right,
.more-photo__btn-close {
  border: none;
  background-color: transparent;
  // width: 45px;
  // height: 45px;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 50%;

  color: #ffffff;

  cursor: pointer;
}

.more-photo__btn-left {
  transform: translate(-100%, -50%);
  left: -10px;

  @include miw(768px) {
    left: -21px;
  }

  @include miw(1440px) {
    left: -32px;
  }
}

.more-photo__btn-right {
  transform: translate(+100%, -50%) rotate(180deg);
  right: -10px;

  @include miw(768px) {
    right: -21px;
  }

  @include miw(1440px) {
    right: -32px;
  }
}

.more-photo__btn-close {
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

// силі для іконки завантаження
.more-photo__icon {
  display: block;
  margin: 0;

  stroke: currentColor;
  fill: currentColor;

  @include miw(768px) {
    width: 26px;
    height: 26px;
  }

  @include miw(1440px) {
    width: 42px;
    height: 42px;
  }
}

// стилі для кнопки яка відкриває всю галерею

.more-photo__btn-show {
  display: flex;
  margin: auto;

  border: none;
  background-color: transparent;
  padding: 0;

  color: #487996;

  cursor: pointer;
}
