<header>
    <div>
        <h1>ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
        <div>
            <img src="/src/images/take-order/take-order-hero-mobile@1x.jpg" alt="">
        </div>
        <div>
            <p>
                На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
            </p>
            <p>
                Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші запитання.
            </p>
        </div>
    </div>
</header>