<header class="order-header">
    <div class="order-header__block">
        <h1 class="order-header_title">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
        <div class="header-image">
            <a href=""
                ><img
                  srcset="/src/images/take-order/take-order-hero-mobile@2x.jpg x"
                  src="/src/images/take-order/take-order-hero-mobile@1x.jpg 1x"
                  alt="abstraction"
                /></a>
        </div>
        <div>
            <p>
                На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
            </p>
            <p>
                Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі ваші запитання.
            </p>
        </div>
    </div>
</header>