<section class="order-contacts">

    <div class="container order-contacts__container">
        <ul class="order-contacts__list">
        <li class="order-contacts__item">
            <h2 class="order-contacts__title order-contacts__title--uppercased">Телефони</h2>
            <ul class="info-tel info--margin">
                <li class="info-tel__item">
                    +38 (095) -73-84-551
                </li>
                <li class="info-tel__item">
                    +38 (098) -00-25-235
                </li>
            </ul>
        </li>
        <li class="order-contacts__item">
            <h2 class="order-contacts__title edit">Email</h2>
            <p class="order-contacs__mail">
                3dfreedom.info@gmail.com
            </p>
        </li>
        <li class="order-contacts__item">
            <h2 class="order-contacts__title order-contacts__title--uppercased">Робочий час</h2>
            <ul class="info-time">
                <li class="info-time__item">
                    Пн-Пт:
                    з 8:00 до 19:00
                </li>
                <li class="info-time__item">
                    Сб, Нд:
                    з 10:00 до 17:00
                </li>
            </ul>
        </li>
    </ul>
    </div>
    </div>
    </div>



    <!-- -------------------------------------------mosaic---------------------------------------------------------------------------------- -->

    <div class="order-contacs__wrapper">
        <div class="order-contacts__mosaic">
            <div class="order-contacts__mosaic--top">
                <div class="order-contacts__mosaic--rectangled"></div>
                <div class="order-contacts__mosaic--rectangled"></div>
                <div class="order-contacts__mosaic--rectangled"></div>
            </div>
            <div class="order-contacts__mosaic--bottom">
                <div class="order-contacts__mosaic--rectangled"></div>
                <div class="order-contacts__mosaic--rectangled"></div>
                <div class="order-contacts__mosaic--rectangled"></div>
            </div>
        </div>
    </div>

</section>