    <!-- <section class="order-contacts section">

        <h2 class="order-contacts__title">Телефони</h2>

        <ul class="order-contacs__list">

            <li class="order-contacts__item">
            <a class="order-contacts__link" href="tel:+380957384551">+38 (095) -73-84-551</a>
            </li>

            <li class="order-contacts__item">
            <a class="order-contacts__link" href="tel:+380980025235">+38 (098) -00-25-235</a>
            </li>

        </ul>

        <h3 class="order-contacts__title">Email</h3>

        <a class="order-contacts__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>

        <h3 class="order-contacts__title">Робочий час</h3>
        <p class="order-contacts__text">Пн-пт:
            з 8:00 до 19:00</p>

        <p class="order-contacts__text">Сб, Нд:
            з 10:00 до 17:00</p>

    </section> -->

<section class="section order-contacts">
    <ul class="order-contacts__list">
        <li class="order-contacts__item">
            <h2 class="order-contacts__title order-contacts__title--uppercased">Телефони</h2>
            <ul class="info-tel info--margin">
                <li class="info-tel__item">
                    +38 (095) -73-84-551
                </li>
                <li class="info-tel__item">
                    +38 (098) -00-25-235
                </li>
            </ul>
        </li>
        <li class="order-contacts__item">
            <h2 class="order-contacts__title edit">Email</h2>
                <p class="order-contacs__mail">
                    3dfreedom.info@gmail.com
                </p>
        </li>
        <li class="order-contacts__item">
            <h2 class="order-contacts__title order-contacts__title--uppercased">Робочий час</h2>
            <ul class="info-time">
                <li class="info-time__item">
                    Пн-Пт:
                    з 8:00 до 19:00
                </li>
                <li class="info-time__item">
                    Сб, Нд:
                    з 10:00 до 17:00
                </li>
            </ul>
        </li>
    </ul>
    </div>
    </div>

    <div class="test">
    <div class="take-order__contacts-img">
        <div class="take-order__contacts-img--top">
        <div class="take-order__contacts-img--rectangled"></div>
        <div class="take-order__contacts-img--rectangled"></div>
        <div class="take-order__contacts-img--rectangled"></div>
        </div>
        <div class="take-order__contacts-img--bottom">
        <div class="take-order__contacts-img--rectangled"></div>
        <div class="take-order__contacts-img--rectangled"></div>
        <div class="take-order__contacts-img--rectangled"></div>
        </div>
    </div>
    </div>

</section>