<section class="section-feedback section">
  <div class="container">
    <form name="order-form" class="order-form" autocomplete="off">
      <h2 class="order-form__title section-title">Зв'яжіться з нами</h2>
      <label class="form-field form-field_position">
        <input
          class="form-field__input"
          name="username"
          type="text"
          autocomplete="name"
          placeholder=" "
          required
        />
        <span class="form-field__title form-field__title_position">Ім'я</span>
      </label>
      <label class="form-field form-field_position">
        <input
          class="form-field__input"
          name="email"
          type="email"
          autocomplete="email"
          placeholder=" "
          required
        />
        <span class="form-field__title form-field__title_position">Email</span>
      </label>
      <div class="dropdown">
        <button class="dropdown__button" type="button">Види пластика</button>
        <ul class="dropdown__list">
          <li class="dropdown__item" autofocus tabindex="0" data-value="top">
            Найміцніший
          </li>
          <li class="dropdown__item" tabindex="0" data-value="midle">
            Можна брати
          </li>
          <li class="dropdown__item" tabindex="0" data-value="low">
            Ну...таке собі
          </li>
          <li class="dropdown__item" tabindex="0" data-value="need-help">
            Труднощі у виборі - ми допоможемо
          </li>
        </ul>
        <input
          type="text"
          name="plastic-types"
          value=""
          class="dropdown__input visually-hidden"
          tabindex="-1"
        />
        <span class="select-icon">
          <svg width="18.1" height="13">
            <use href="/src/images/icons.svg#icon-form-arrow"></use>
          </svg>
        </span>
      </div>
      <div class="dropdown">
        <button class="dropdown__button" type="button">Якість друку</button>
        <ul class="dropdown__list">
          <li class="dropdown__item" tabindex="0" data-value="top">
            300 мікрон
          </li>
          <li class="dropdown__item" tabindex="0" data-value="midle">
            200 мікрон
          </li>
          <li class="dropdown__item" tabindex="0" data-value="low">
            100 мікрон
          </li>
          <li class="dropdown__item" tabindex="0" data-value="need-help">
            Труднощі у виборі - ми допоможемо
          </li>
        </ul>
        <input
          type="text"
          name="quality"
          value=""
          class="dropdown__input visually-hidden"
          tabindex="-1"
        />
        <span class="select-icon">
          <svg width="18.1" height="13">
            <use href="/src/images/icons.svg#icon-form-arrow"></use>
          </svg>
        </span>
      </div>
      <div class="dropdown">
        <button class="dropdown__button" type="button">Колір</button>
        <ul class="dropdown__list">
          <li class="dropdown__item" tabindex="0" data-value="top">
            Наймодніший
          </li>
          <li class="dropdown__item" tabindex="0" data-value="midle">
            Мені подобається
          </li>
          <li class="dropdown__item" tabindex="0" data-value="low">
            Краще б мої очі цього не бачили
          </li>
          <li class="dropdown__item" tabindex="0" data-value="need-help">
            Труднощі у виборі - ми допоможемо
          </li>
        </ul>
        <input
          type="text"
          name="select-color"
          value=""
          class="dropdown__input visually-hidden"
          tabindex="-1"
        />
        <span class="select-icon">
          <svg width="18.1" height="13">
            <use href="/src/images/icons.svg#icon-form-arrow"></use>
          </svg>
        </span>
      </div>
      <label class="form-field form-field_position"
        ><span class="form-field__title">Повідомлення</span>
        <textarea
          class="form-field__textarea"
          name="usercomment"
          rows="8"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
      </label>
      <label class="add-file">
        <span class="add-file__icon">
          <svg width="23.71" height="20">
            <use href="/src/images/icons.svg#icon-paper-clip"></use>
          </svg>
        </span>
        <input
          class="add-file__input visually-hidden"
          type="file"
          accept="image/*, .STL, .Obj, .CAD"
          multiple
        />
        <span class="add-file__title"
          >*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</span
        >
      </label>
      <button type="submit" class="form-button">Відправити</button>
    </form>
  </div>
</section>
