<section class="section main-page-gallery">
    <div class="container main-page-gallery__container">
        <h2 class="section-title main-page-gallery__title">ГАЛЕРЕЯ</h2>
        <ul class="main-page-gallery__list">
            <li class="main-page-gallery__item">
                <picture>
                    <source srcset="
                            ./images/main/gallery/gallery-main-1.jpg 1x, 
                            ./images/main/gallery/gallery-main-1@2x.jpg 2x" media="(min-width: 1440px)">
                    <source srcset="
                            ./images/main/gallery/gallery-table-1.jpg 1x, 
                            ./images/main/gallery/gallery-table-1@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="
                            ./images/main/gallery/gallery-mobile-1.jpg 1x, 
                            ./images/main/gallery/gallery-mobile-1@2x.jpg 2x" media="(max-width: 767px)">
                    <img src="./images/main/gallery/gallery-mobile-1.jpg" alt="Robot Walle" width="280" height="101">
                </picture>
                <h3 class="secondary-title main-page-gallery__title-small">
                    Інженерні методи аналізу та контролю якості
                </h3>
            </li>
            <li class="main-page-gallery__item">
                <picture>
                    <source srcset="
                            ./images/main/gallery/gallery-main-2.jpg 1x, 
                            ./images/main/gallery/gallery-main-2@2x.jpg 2x" media="(min-width: 1440px)">
                    <source srcset="
                            ./images/main/gallery/gallery-table-2.jpg 1x, 
                            ./images/main/gallery/gallery-table-2@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="
                            ./images/main/gallery/gallery-mobile-2.jpg 1x, 
                            ./images/main/gallery/gallery-mobile-2@2x.jpg 2x" media="(max-width: 767px)">
                    <img src="./images/main/gallery/gallery-mobile-2.jpg" alt="Robot Walle" width="280" height="101">
                </picture>
                <h3 class="secondary-title main-page-gallery__title-small">
                    Високоточне 3D сканування
                </h3>
            </li>
            <li class="main-page-gallery__item">
                <picture>
                    <source srcset="
                            ./images/main/gallery/gallery-main-3.jpg 1x, 
                            ./images/main/gallery/gallery-main-3@2x.jpg 2x" media="(min-width: 1440px)">
                    <source srcset="
                            ./images/main/gallery/gallery-table-3.jpg 1x, 
                            ./images/main/gallery/gallery-table-3@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="
                            ./images/main/gallery/gallery-mobile-3.jpg 1x, 
                            ./images/main/gallery/gallery-mobile-3@2x.jpg 2x" media="(max-width: 767px)">
                    <img src="./images/main/gallery/gallery-mobile-3.jpg" alt="Robot Walle" width="280" height="101">
                </picture>
                <h3 class="secondary-title main-page-gallery__title-small">
                    Створення точної копії на базі сканування reverse engineering
                </h3>
            </li>
            <li class="main-page-gallery__item">
                <picture>
                    <source srcset="
                            ./images/main/gallery/gallery-main-4.jpg 1x, 
                            ./images/main/gallery/gallery-main-4@2x.jpg 2x" media="(min-width: 1440px)">
                    <source srcset="
                            ./images/main/gallery/gallery-table-4.jpg 1x, 
                            ./images/main/gallery/gallery-table-4@2x.jpg 2x" media="(min-width: 768px)">
                    <source srcset="
                            ./images/main/gallery/gallery-mobile-4.jpg 1x, 
                            ./images/main/gallery/gallery-mobile-4@2x.jpg 2x" media="(max-width: 767px)">
                    <img src="./images/main/gallery/gallery-mobile-4.jpg" alt="Robot Walle" width="280" height="101">
                </picture>
                <h3 class="secondary-title main-page-gallery__title-small">
                    Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
                </h3>
            </li>
        </ul>
        </div>
</section>