<section class="main-page-hero">
    <h1 class="main-page-hero__title">
        Інженерна, конструкторська та дизайнерська робота
    </h1>
    <ul class="main-page-hero__list">
        <li class="main-page-hero__item">
            <picture>
                <source srcset="
                    ./images/main/hero/hero-main-1.jpg 1x, 
                    ./images/main/hero/hero-main-1@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="
                    ./images/main/hero/hero-tablet-1.jpg 1x, 
                    ./images/main/hero/hero-tablet-1@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="
                    ./images/main/hero/hero-mobile-1.jpg 1x, 
                    ./images/main/hero/hero-mobile-1@2x.jpg 2x" media="(max-width: 767px)">
                <img src="./images/main/hero/hero-mobile-1.jpg" alt="Robot Walle" width="84" height="84">
            </picture>
        </li>
        <li class="main-page-hero__item">
            <picture>
                <source srcset="
                    ./images/main/hero/hero-main-2.jpg 1x, 
                    ./images/main/hero/hero-main-2@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="
                    ./images/main/hero/hero-tablet-2.jpg 1x, 
                    ./images/main/hero/hero-tablet-2@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="
                    ./images/main/hero/hero-mobile-2.jpg 1x, 
                    ./images/main/hero/hero-mobile-2@2x.jpg 2x" media="(max-width: 767px)">
                <img src="./images/main/hero/hero-mobile-2.jpg" alt="Desk lamp" width="84" height="84">
            </picture>
        </li>
        <li class="main-page-hero__item">
            <picture>
                <source srcset="
                    ./images/main/hero/hero-main-3.jpg 1x, 
                    ./images/main/hero/hero-main-3@2x.jpg 2x" media="(min-width: 1200px)">
                <source srcset="
                    ./images/main/hero/hero-tablet-3.jpg 1x, 
                    ./images/main/hero/hero-tablet-3@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="
                    ./images/main/hero/hero-mobile-3.jpg 1x, 
                    ./images/main/hero/hero-mobile-3@2x.jpg 2x" media="(max-width: 767px)">
                <img src="./images/main/hero/hero-mobile-3.jpg" alt="Scull" width="84" height="84">             
            </picture>
        </li>
    </ul>
    <h2 class="main-page-hero__title-small">
        Ми втілюємо ідеї в реальність
    </h2>
</section>