<section class="section more-photo__section">
  <div class="container more-photo__container">
    <h2 class="section-title more-photo__section-title">БІЛЬШЕ ФОТО</h2>

    <ul class="more-photo__list more-photo__list--show" data-show-img>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-1.jpg    1x,
              ./images/main/more-photos/more-photos-main-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-1.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-mobile-1.jpg    1x,
              ./images/main/more-photos/more-photos-mobile-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-mobile-1.jpg"
            alt="Перший приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-2.jpg    1x,
              ./images/main/more-photos/more-photos-main-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-2.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-mobile-2.jpg    1x,
              ./images/main/more-photos/more-photos-mobile-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-mobile-2.jpg"
            alt="Другий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-3.jpg    1x,
              ./images/main/more-photos/more-photos-main-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-3.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-mobile-3.jpg    1x,
              ./images/main/more-photos/more-photos-mobile-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-mobile-3.jpg"
            alt="Третій приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-4.jpg    1x,
              ./images/main/more-photos/more-photos-main-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-4.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-4.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-4.jpg"
            alt="Четвертий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-5.jpg    1x,
              ./images/main/more-photos/more-photos-main-5@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-5.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-5.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-5@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-5.jpg"
            alt="П'ятийприклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-6.jpg    1x,
              ./images/main/more-photos/more-photos-main-6@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-6.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-6.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-6@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-6.jpg"
            alt="Шостий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-7.jpg    1x,
              ./images/main/more-photos/more-photos-main-7@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-7.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-7@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-7.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-7@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-7.jpg"
            alt="Сьомий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-8.jpg    1x,
              ./images/main/more-photos/more-photos-main-8@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-8.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-8@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-8.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-8@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-8.jpg"
            alt="Восьмий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-9.jpg    1x,
              ./images/main/more-photos/more-photos-main-9@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-9.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-9@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-9.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-9@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-9.jpg"
            alt="Дев'ятий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-10.jpg    1x,
              ./images/main/more-photos/more-photos-main-10@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-10.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-10@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-10.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-10@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-10.jpg"
            alt="Десятий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-11.jpg    1x,
              ./images/main/more-photos/more-photos-main-11@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-11.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-11@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-11.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-11@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-11.jpg"
            alt="Одинадцятий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
      <li class="more-photo__item more-photo__itam--wide">
        <picture>
          <source
            srcset="
              ./images/main/more-photos/more-photos-main-12.jpg    1x,
              ./images/main/more-photos/more-photos-main-12@2x.jpg 2x
            "
            media="(min-width: 1440px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-12.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-12@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/main/more-photos/more-photos-tablet-12.jpg    1x,
              ./images/main/more-photos/more-photos-tablet-12@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <img
            class="more-photo__img"
            src="./images/main/more-photos/more-photos-tablet-12.jpg"
            alt="Дванадцятий приклад 3D друку"
            width="280"
          />
        </picture>
      </li>
    </ul>

    <div class="slider" data-slider>
      <button
        type="button"
        class="slider__btn-close"
        data-slider-close
      ></button>
      <div class="slider__section" data-container>
        <div class="slider__container">
          <ul class="slider__list">
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-1@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-2@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-3@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-4@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-5@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-6@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-7@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-8@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-9@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-10@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-11@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
            <li class="slider__item">
              <img
                class="slider__img"
                src="./images/main/more-photos/more-photos-main-12@2x.jpg"
                alt="Перший приклад 3D друку"
                width="280"
              />
            </li>
          </ul>
        </div>

        <!-- кнопки навігації по слайдеру -->
        <button type="button" class="slider__btn-left" data-slider-left>
          <svg class="slider__icon" height="10" width="11">
            <use href="./images/icons.svg#icon-slider-arrow"></use>
          </svg>
        </button>
        <button type="button" class="slider__btn-right" data-slider-right>
          <svg class="slider__icon" height="10" width="11">
            <use href="./images/icons.svg#icon-slider-arrow"></use>
          </svg>
        </button>
      </div>
    </div>

    <button type="button" class="more-photo__btn-show">
      <svg class="slider__icon" height="45" width="45">
        <use href="./images/icons.svg#icon-downloading"></use>
      </svg>
    </button>
  </div>
</section>

<script src="./js/show-more-photo.js"></script>
<script src="./js/slaider.js"></script>
