<section class="contacts-info">
  <div class="container contacts-container">
    <div class="contact-left">
      <div class="phone">
        <h3 class="section-title padding-font">ТЕЛЕФОНИ</h3>
        <ul class="list">
          <li class="phone-link__item">
            <a class="phone-link" href="tel:+380957384551">
              +38 (095) -73-84-551
            </a>
          </li>
          <li class="phone-link__item">
            <a class="phone-link" href="tel:+380980025235">
              +38 (098) -00-25-235
            </a>
          </li>
        </ul>
      </div>
      <div class="email">
        <h3 class="section-title padding-font">Email</h3>
        <a class="email-link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </div>
    </div>
    <div class="hours">
      <h3 class="section-title padding-font hours-title">Робочий час</h3>
      <ul>
        <li class="hours-item">
          <p class="work-wheek">
            <span class="days">Пн-пт:</span>
            з 8:00 до 19:00
          </p>
        </li>
        <li class="hours-item">
          <p class="work-wheekend">
            <span class="days">Сб, Нд:</span>
            з 10:00 до 17:00
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
