<section class="contacts-info">
    <div class="container contacts-container">
        <div class="contact-left">
            <div class="phone">
                <h3 class="section-title padding-font">ТЕЛЕФОНИ</h3>
                <ul class="list">
                    <li class="item">
                        <a class="phone-link padding-font" href="tel:+380957384551">
                            +38 (095) -73-84-551
                        </a>
                    </li>
                    <li class="item">
                        <a class="phone-link padding-font" href="tel:+380980025235">
                            +38 (098) -00-25-235
                        </a>
                    </li>
                </ul>
            </div>
            <div class="email">
                <h3 class="section-title padding-font">Email</h3>
                <a class="email-link padding-font" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
            </div>
        </div>
        <div class="hours">
            <h3 class="section-title padding-font">Робочий час</h3>
            <p class="work-wheek padding-font">Пн-пт:<br>
                з 8:00 до 19:00</p>
            <p class="work-wheekend padding-font">Сб, Нд:<br>
                з 10:00 до 17:00</p>
        </div>
    </div>
</section>