<section class="contacts-info">
    <div class="container contacts-container">
        <h2 class="phones-title__section-title">ТЕЛЕФОНИ</h2>
        <ul class="phone-list__list">
            <li class="phone-number__item">
                <a class="phone-link" href="tel:+380957384551">
                    +38 (095) -73-84-551
                </a>
            </li>
            <li class="phone-number__item">
                <a class="phone-link" href="tel:+380980025235">
                    +38 (098) -00-25-235
                </a>
            </li>
        </ul>
        <h2 class="email-title__section-title">Email</h2>
        <a class="email-link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        <h2 class="work-time-title__section-title">Робочий час</h2>
        <p class="work-wheek">Пн-пт:<br>
            з 8:00 до 19:00</p>
        <p class="work-wheekend">Сб, Нд:<br>
            з 10:00 до 17:00</p>
    </div>
</section>