<section class="hero-contacts">
  <div class="container">
    <h1 class="hero-title contacts__hero-title">КОНТАКТИ</h1>
    <div class="hero-contacts__wrap">
      <div class="iframe-wrap">
        <iframe
          src="https://www.youtube.com/embed/Dss1yUHH-QY"
          title="YouTube video player"
          frameborder="15"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="video-style"
        >
        </iframe>
      </div>

      <div class="text-wrap">
        <p class="hero-contacts__text">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </p>
        <br />
        <p class="hero-contacts__text">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>
        <br />

        <div class="emoji-flex">
          <p class="hero-contacts__text">Приємного перегляду!</p>
          <picture>
            <source
              srcset="
                ./images/contact/emoji@1x.jpg 1x,
                ./images/contact/emoji@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/contact/emoji-mobile-tablet@1x.jpg 1x,
                ./images/contact/emoji-mobile-tablet@2x.jpg 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              class="emoji"
              src="./images/contact/emoji-mobile-tablet@1x.jpg"
              alt="emoji"
              width="22"
              height="22"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
