<section class="hero-contacts">
  <div class="container hero-container">
    <h1 class="hero-contacts__hero-title">КОНТАКТИ</h1>
    <iframe
      src="https://www.youtube.com/embed/Dss1yUHH-QY"
      title="YouTube video player"
      frameborder="15"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="video-style"
    ></iframe>

    <div class="text-warp">
      <p class="hero-contacts__text">
        Людина уперше побачивши процес 3D друку може легко захопитися
        спостереженням за цим процесом не на десяток хвилин.
      </p>
      <br />
      <p class="hero-contacts__text">
        Наша команда створює timelapse відео що б ви могли краще ознайомитися з
        технологією 3D друку і просто помилуватися красою цього процесу.
      </p>
      <br />

      <div class="emoji-flex">
        <p class="hero-contacts__text">Приємного перегляду!</p>
        <picture>
          <source
            srcset="
              ./images/contact/emoji@1x.jpg 1x,
              ./images/contact/emoji@1x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/contact/emoji-mobile-tablet@1x.jpg 1x,
              ./images/contact/emoji-mobile-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/contact/emoji-mobile-tablet@1x.jpg 1x,
              ./images/contact/emoji-mobile-tablet@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="emoji"
            src="./images/contact/emoji-mobile-tablet@1x.jpg"
            alt="emoji"
            width="22"
            height="22"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
