<section class="hero-contacts">
    <div class="container hero-container__block">
        <h1 class="contacts-title__hero-title">КОНТАКТИ</h1>
        <p class="contact-text">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
            процесом не на десяток хвилин.
        </p>
        <p class="contact-text">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
            друку і просто помилуватися
            красою цього процесу.</p>
        <p class="contact-text">Приємного перегляду!
            <picture>
                <source srcset="/emoji@1x.5acb4f35.jpg, /emoji@2x.b734d56d.jpg" media="(min-width: 1440px)">
                <source srcset="/emoji-mobile-tablet@1x.8c3c6457.jpg 1x, /emoji-mobile-tablet@2x.70da2b12.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="/emoji-mobile-tablet@1x.8c3c6457.jpg 1x, /emoji-mobile-tablet@2x.70da2b12.jpg 2x"
                    media="(max-width: 767px)">
                <img class="" src="/emoji-mobile-tablet@1x.8c3c6457.jpg" alt="emoji" width="22" height="22">
            </picture>
        </p>
    </div>
</section>