<section class="scan-process section">
  <div class="container">
    <h2 class="section-title scan-process__section-title">
      ПРОЦЕС 3D СКАНУВАННЯ
    </h2>
    <ul class="scan-process-list">
      <li class="scan-process-list__item scan-process-list__item--prepare">
        <h3 class="scan-process-list__subtitle">
          Підготовка деталі до сканування
        </h3>
      </li>
      <li class="scan-process-list__item scan-process-list__item--create">
        <h3 class="scan-process-list__subtitle">
          Створення сканів і їх обробка
        </h3>
      </li>
      <li
        class="scan-process-list__item scan-process-list__item--transformation"
      >
        <h3 class="scan-process-list__subtitle">
          Перетворення reverse engineering
        </h3>
      </li>
      <li class="scan-process-list__item scan-process-list__item--printing">
        <h3 class="scan-process-list__subtitle">Підготовка моделі до друку</h3>
      </li>
    </ul>
  </div>
</section>
