<section class="scan-process section">
  <div class="container">
    <h2 class="section-title scan-process__section-title">
      ПРОЦЕС 3D СКАНУВАННЯ
    </h2>
    <ul class="scan-process-list">
      <li class="scan-process-list__item scan-process-list__item--prepare">
        <h3 class="scan-process-list__subtitle">
          Підготовка деталі
          <span class="scan-process-list__subtitle--indent">
            до сканування
          </span>
        </h3>
      </li>
      <li class="scan-process-list__item scan-process-list__item--create">
        <h3 class="scan-process-list__subtitle">
          Створення сканів
          <span class="scan-process-list__subtitle--indent">
            і їх обробка
          </span>
        </h3>
      </li>
      <li
        class="scan-process-list__item scan-process-list__item--transformation"
      >
        <h3 class="scan-process-list__subtitle">
          Перетворення
          <span class="scan-process-list__subtitle--indent">
            reverse engineering
          </span>
        </h3>
      </li>
      <li class="scan-process-list__item scan-process-list__item--printing">
        <h3 class="scan-process-list__subtitle">
          Підготовка моделі
          <span class="scan-process-list__subtitle--indent"> до друку </span>
        </h3>
      </li>
    </ul>
  </div>
</section>
