<div class="rectangle-wrap container">
  <div class="rectangle semi-sphere secondary-rec-1 secondary-rec"></div>
  <div class="rectangle semi-sphere secondary-rec-2 secondary-rec"></div>
  <div class="rectangle triangle secondary-rec-3 secondary-rec"></div>
  <div class="rectangle sphere secondary-rec-4 secondary-rec"></div>
  <div
    class="rectangle opposite-corner-radius secondary-rec-5 secondary-rec"
  ></div>
  <div
    class="rectangle opposite-corner-radius secondary-rec-6 secondary-rec"
  ></div>
  <div class="rectangle corner-radius secondary-rec-7 secondary-rec"></div>
  <div class="rectangle corner-radius secondary-rec-8 secondary-rec"></div>
</div>
