<footer class="footer">
    <div class="footer__container container">
      <div class="footer__logo">
        <a class="footer__logo-link link" href="./index.html">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="./images/logo@1x.jpg, ./images/logo@2x.jpg"
              type="image/jpg"
            />
            <source
              media="(min-width: 768px) and (max-width: 1439px)"
              srcset="./images/logo@1x.jpg, ./images/logo@2x.jpg"
              type="image/jpg"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/logo@1x.jpg, ./images/logo@2x.jpg"
              type="image/jpg"
            />
            <img
              class="footer__logo-img"
              src="./images/logo@1x.jpg"
              alt="logo"
              width="192"
              height="48"
            />
          </picture>
        </a>
      </div>
      <div class="footer__info">
        <div class="footer__menu">
          <ul class="footer__menu-list list">
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./index.html">Головна</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./3d-modeling.html"
                >3D Моделювання</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./3d-scanning.html"
                >3D Сканування</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./3d-printing.html"
                >3D Друк</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./take-order.html"
                >Замовити</a
              >
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link link" href="./contacts.html"
                >Контакти</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__socials">
          <ul class="footer__socials-list list">
            <li class="footer__socials-item">
              <a
                class="footer__socials-link link"
                href="https://www.instagram.com/"
                >Instagram</a
              >
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link link" href="https://www.youtube.com/"
                >YouTube</a
              >
            </li>
            <li class="footer__socials-item">
              <a
                class="footer__socials-link link"
                href="https://www.facebook.com/"
                >Facebook</a
              >
            </li>
          </ul>
        </div>
        <address class="footer__contacts">
          <div class="footer__contacts-mail-wrap">
            <p class="footer__contacts-mail">Email</p>
            <ul class="footer__contacts-mail-list list">
              <li class="footer__contacts-mail-item">
                <a
                  class="footer__contacts-mail-link link"
                  href="mailto:3dfreedom.info@gmail.com"
                  >3dfreedom.info@gmail.com</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__contacts-tel-wrap">
            <p class="footer__contacts-tel">Телефони</p>
            <ul class="footer__contacts-tel-list list">
              <li class="footer__contacts-tel-item">
                <a class="footer__contacts-tel-link link" href="tel:+380936432288"
                  >+38 (093) 643 22 88</a
                >
              </li>
              <li class="footer__contacts-tel-item">
                <a class="footer__contacts-tel-link link" href="tel:+380503454423"
                  >+38 (050) 345 44 23</a
                >
              </li>
            </ul>
          </div>
        </address>
      </div>
    </div>
  </footer>
  