<div class="rectangle-wrap container">
  <div class="rectangle semi-sphere rec-1"></div>
  <div class="rectangle semi-sphere rec-2"></div>
  <div class="rectangle corner-radius rec-3"></div>
  <div class="rectangle sphere rec-4"></div>
  <div class="rectangle opposite-corner-radius rec-5"></div>
  <div class="rectangle opposite-corner-radius rec-6"></div>
  <div class="rectangle corner-radius rec-7"></div>
  <div class="rectangle opposite-corner-radius rec-8 hidden-rec"></div>
  <div class="rectangle corner-radius rec-9 hidden-rec"></div>
  <div class="rectangle corner-radius rec-10 hidden-rec"></div>
  <div class="rectangle corner-radius rec-11 hidden-rec"></div>
  <div class="rectangle sphere rec-12 hidden-rec"></div>
  <div class="rectangle corner-radius rec-13 hidden-rec"></div>
  <div class="rectangle rec-14 hidden-rec"></div>
  <div class="rectangle triangle rec-15 hidden-rec"></div>
  <div class="rectangle sphere rec-16 hidden-rec"></div>
  <div class="rectangle corner-radius rec-17 hidden-rec"></div>
  <div class="rectangle rec-18 hidden-rec"></div>
  <div class="rectangle corner-radius rec-19 hidden-rec"></div>
  <div class="rectangle corner-radius rec-20 hidden-rec"></div>
  <div class="rectangle sphere rec-21 hidden-rec"></div>
  <div class="rectangle corner-radius rec-22 hidden-rec"></div>
  <div class="rectangle corner-radius rec-23 hidden-rec"></div>
  <div class="rectangle sphere rec-24 hidden-rec"></div>
  <div class="rectangle corner-radius rec-25 hidden-rec"></div>
  <div class="rectangle opposite-corner-radius rec-26 hidden-rec"></div>
</div>
