<section class="modeling-hero section">
  <div class="container hero-wrap">
    <h1 class="hero-title">3D МОДЕЛЮВАННЯ</h1>
    <ul class="modeling-hero__list">
      <li class="modeling-hero__item">
        <p class="modeling-hero__text">
          Сфера 3D графіки може надати широкий спектр послуг. Але якщо
          спроектована модель буде створюватися шляхом 3D друку, обробки
          заготовки на ЧПУ станках або іншими виробничими методами, то до моделі
          преставляеться ряд інженерних вимог які повинен враховувати дизайнер
          при розробці моделі.
        </p>
      </li>
      <li class="modeling-hero__item">
        <p class="modeling-hero__text">
          Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
          підготують модель для її створення. Ми маємо широкий спектр
          інструментів задля задоволення будь-якої вашої задачі.
        </p>
      </li>
    </ul>
  </div>
</section>
