<section class="modeling-metods section">
    <div class="container modeling-metods__conteiner">
        <h2 class="modeling-metods__subtitle"> Способи створення моделі:</h2>
        <ul class="modeling-metods__list">
            <li class="modeling-metods__item">3D сканування</li>
            <li class="modeling-metods__item">На основі фотографій з доданими розмірами</li>
            <li class="modeling-metods__item">За ескізами з розмірами</li>
            <li class="modeling-metods__item">За вашим кресленням</li>
            <li class="modeling-metods__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>
        <div class="modeling-metods__bg-image"></div>
    
    </div>
</section>
