<div class="we-creat-model">
  <h3 class="we-creat-model__title">
    МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
  </h3>
  <ul class="we-creat-model__list">
    <li class="we-creat-model__item">
      <img
        src="./images/3d-modeling/example-img-1@1x.jpg"
        alt=""
        width="320"
        height="281"
      />
    </li>
    <li class="we-creat-model__item">
      <img
        src="./images/3d-modeling/example-img-2@1x.jpg"
        alt=""
        width="320"
        height="281"
      />
    </li>
    <li class="we-creat-model__item">
      <img
        src="./images/3d-modeling/example-img-3@1x.jpg"
        alt=""
        width="320"
        height="281"
      />
    </li>
    <li class="we-creat-model__item">
      <img
        src="./images/3d-modeling/example-img-4@1x.jpg"
        alt=""
        width="320"
        height="281"
      />
    </li>
  </ul>
</div>
