<section class="we-create-model">
  <div class="container">
    <h2 class="we-create-model__title section-title">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ<br />
      ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>
    <!-- <div class="we-create-model__figure3"></div> -->
    <ul class="we-create-model__list">
      <li class="we-create-model__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling/example-img-1@1x.jpg 1x,
              ./images/3d-modeling/example-img-1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-tablet-1@1x.jpg 1x,
              ./images/3d-modeling/example-img-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-mobile-1@1x.jpg 1x,
              ./images/3d-modeling/example-img-mobile-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="we-create-model__img1"
            src="./images/3d-modeling/example-img-1@1x.jpg"
            alt=""
            width="320"
            height="281"
          />
        </picture>
      </li>
      <li class="we-create-model__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling/example-img-2@1x.jpg 1x,
              ./images/3d-modeling/example-img-2@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-tablet-2@1x.jpg 1x,
              ./images/3d-modeling/example-img-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-mobile-2@1x.jpg 1x,
              ./images/3d-modeling/example-img-mobile-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="we-create-model__img2"
            src="./images/3d-modeling/example-img-2@1x.jpg"
            alt=""
            width="320"
            height="281"
          />
        </picture>
      </li>
      <li class="we-create-model__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling/example-img-3@1x.jpg 1x,
              ./images/3d-modeling/example-img-3@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-tablet-3@1x.jpg 1x,
              ./images/3d-modeling/example-img-tablet-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-mobile-3@1x.jpg 1x,
              ./images/3d-modeling/example-img-mobile-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="we-create-model__img1"
            src="./images/3d-modeling/example-img-3@1x.jpg"
            alt=""
            width="320"
            height="281"
          />
        </picture>
      </li>
      <li class="we-create-model__item">
        <picture>
          <source
            srcset="
              ./images/3d-modeling/example-img-4@1x.jpg 1x,
              ./images/3d-modeling/example-img-4@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-tablet-4@1x.jpg 1x,
              ./images/3d-modeling/example-img-tablet-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/3d-modeling/example-img-mobile-4@1x.jpg 1x,
              ./images/3d-modeling/example-img-mobile-4@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="we-create-model__img2"
            src="./images/3d-modeling/example-img-4@1x.jpg"
            alt=""
            width="320"
            height="281"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
