.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include maw(767px) {
    max-width: 480px;
  }

  @include miw(768px) {
    width: 768px;
    padding: 0 32px;
  }

  @include miw(1440px) {
    width: 1440px;
  }
}
