.order-header {
  display: flex;
  width: 100%;
}

.images-style {
  border-radius: 15px;
  overflow: hidden;
}

.order-header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .order-header__block {
    align-items: flex-start;
  }
}

.order-title {
  font-size: 24px;
  justify-content: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .order-title {
    font-size: 36px;
  }
}

.tablet {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .tablet {
    flex-direction: row;
    align-items: center;
  }
}

.one-paragraph {
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .one-paragraph {
    padding-bottom: 0;
    @include font(400, 16, 20);
  }
}

.header-text__stile {
  @include font(300, 16, 20);
  color: $main-color;
}

.header-text__list {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .header-text__list {
    margin-top: 0;
    margin-left: 32px;
  }
}
