.order-header {
  display: flex;
  padding: 0 10px;
  width: 100%;
}
.order-header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-title {
  @include font(700, 22, 30);
  color: $accent-color;
  justify-content: center;
  margin-bottom: 16px;
}

.one-paragraph {
  padding-bottom: 16px;
}

.header-text__stile {
  @include font(300, 16, 20);
  color: $main-color;
}

.header-text__list {
  margin-top: 16px;
}