.order-header {
  display: flex;
  padding: 0 10px;
  width: 100%;
}
// .order-header__block {
// }
.order-title {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #487996;
  justify-content: center;
  margin: o 10px;
  margin-bottom: 16px;
}
.header-image {
  width: 280px;
  height: 171px;
  margin: 0 10px;
  margin-bottom: 16px;
}
// .header-text:not(:last-child) {
//     margin-bottom: 16px;
// }

.one-paragraph {
  margin-bottom: 16px;
}

.header-text__stile {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;
}
