.section-feedback {
  margin-bottom: 60px;

  @include min-width($desktop) {
    margin-bottom: 80px;
  }
}

.order-form {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  @include min-width($mobile) {
    width: 410px;
  }

  @include min-width($desktop) {
    width: 555px;
  }
}

.order-form__title {
  text-transform: uppercase;
  @include font(700, 18, 23);

  @include min-width($mobile) {
    @include font(700, 18, 23);
  }

  @include min-width($tablet) {
    @include font(700, 24, 30);
    align-self: center;
  }

  @include min-width($desktop) {
    @include font(700, 36, 45);
    align-self: flex-start;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 44px;
  cursor: pointer;

  &:first-of-type {
    margin-top: 28px;
  }

  @include min-width($tablet) {
    &:first-of-type {
      margin-top: 35px;
    }
  }

  @include min-width($desktop) {
    &:first-of-type {
      margin-top: 44px;
    }
  }
}

.form-field_position {
  position: relative;
}

.form-field__title {
  font-weight: 400;
  text-transform: capitalize;
  @include min-width($desktop) {
    @include font(400, 18, 20);
  }
}

.form-field__title_position {
  position: absolute;
  bottom: 4px;
  left: 0;
  font-weight: 400;
  text-transform: capitalize;
  transform-origin: 0 0;
  transition: transform $cubic;
  pointer-events: none;

  .form-field__input:focus + &,
  .form-field__input:hover + &,
  .form-field__input:not(:placeholder-shown) + & {
    transform: translateY(-100%) scale(0.87);
  }
}

.form-field__input {
  border: 0;
  padding-bottom: 4px;
  border-bottom: 1px solid $accent-color;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
}

// dropdown

.dropdown {
  position: relative;

  width: 100%;
  margin-top: 44px;
}

.dropdown__button {
  display: block;
  width: 100%;
  min-height: 24px;
  padding: 0 20px 0 0;

  text-align: start;
  border: 0;
  border-bottom: 1px solid $accent-color;
  color: $main-color;
  background-color: inherit;

  @include font(400, 16, 20);
  cursor: pointer;

  @include min-width($desktop) {
    @include font(400, 18, 20);
  }

  &:focus,
  .dropdown__button_active {
    border-bottom: 1px solid rgba(72, 121, 150, 0.5);
  }
}

.dropdown__button_active {
  outline: none;
}

.dropdown__list {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $accent-color;
  transform: translateY(-50px);

  @include min-width($desktop) {
    @include font(400, 18, 20);
  }

  .dropdown__button:focus + & {
    border-bottom: 1px solid rgba(72, 121, 150, 0.5);
  }
}

.dropdown__list_visible {
  display: flex;
  transform: translateY(0px);
  transition: transform $cubic;
}

.dropdown__item {
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: rgba(72, 121, 150, 0.5);
    color: $background-color;
    outline: none;
  }
}

.select-icon {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  transform: translateY(10%);

  .form-field__select:focus + & {
    transform: rotate(180deg);
  }

  .dropdown__list_visible ~ & {
    transform: rotate(180deg);
  }
}

// textarea

.form-field__textarea {
  position: relative;
  resize: none;
  height: 199px;

  margin-top: 4px;
  padding: 22px 20px;
  border: 1px solid $accent-color;
  border-radius: 50px 0px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  @include font(400, 16, 20);
  color: $main-color;

  @include min-width($desktop) {
    @include font(400, 18, 20);
  }

  &:hover {
    outline: transparent;
  }

  &::placeholder {
    color: #cdcdcd;
  }
}

// add file

.add-file {
  position: relative;
  width: 100%;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include min-width($mobile) {
    padding-right: 0px;
    text-align: start;
  }
}

.add-file__title {
  font-weight: 400;
  color: #cdcdcd;
  width: 220px;
  cursor: pointer;
  transition: color $cubic;

  @include min-width($mobile) {
    width: 100%;
  }

  @include min-width($desktop) {
    @include font(400, 18, 20);
  }

  .add-file:focus-within &,
  &:hover {
    color: $accent-color;
  }
}

.add-file__icon {
  position: absolute;
  top: -32px;
  right: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform $cubic, fill $cubic;

  fill: #cdcdcd;
  cursor: pointer;

  .add-file:focus-within &,
  &:hover {
    fill: $accent-color;
    transform: scale(1.5) rotate(360deg);
  }
}

// button

.form-button {
  width: 100%;
  height: 56px;
  padding: 0;
  margin-top: 40px;
  border-style: none;
  outline: transparent;

  @include min-width($tablet) {
    width: 177px;
    align-self: flex-end;
  }

  @include min-width($desktop) {
    margin-top: 24px;
  }
}

.contacts__section-feedback {
  @include min-width($desktop) {
    width: 555px;
    margin: 0;
    padding: 0;
    margin-right: 117px;
  }
}

.section-feedback__container {
  @include min-width($desktop) {
    width: 555px;
    padding: 0;
    margin: 0;
  }
}

.order-form {
  @include min-width($desktop) {
    margin: 0;
    padding: 0;
  }
}
