.order-contacts {
  position: relative;
  padding-bottom: 60px;
  padding-right: 32px;
  padding-left: 32px;

  @include min-width($tablet) {
    padding-bottom: 60px;
  }

  @include min-width($desktop) {
    padding-top: 120px;
    padding-right: 149px;
    margin: 0;
  }

  .order-contacts__list {
    @include min-width($tablet) {
      display: flex;
      justify-content: space-between;
    }

    @include min-width($desktop) {
      display: block;
      text-align: end;
    }
  }
}

.order-contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.27;
  color: $accent-color;
  margin-bottom: 8px;

  @include min-width($desktop) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 18px;
    text-align: right;
  }
}

.order-contacts__title--uppercased {
  text-transform: uppercase;
}

.info-tel {
  @include min-width($desktop) {
    text-align: end;
  }
}

.info--margin,
.order-contacts__item:nth-child(2) {
  margin-bottom: 30px;
}

.info-tel__item,
.info-time__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: $main-color;

  @include min-width($desktop) {
    font-size: 18px;
    line-height: 1.1;
    text-align: end;
  }
}

.info-tel__item:first-child,
.info-time__item:first-child {
  @include min-width($desktop) {
    margin-bottom: 18px;
  }
}

// ------------------------------------------mosaic-------------------------------------------------------------------------------------

.order-contacts__wrapper {
  display: flex;
  justify-content: end;
}

.order-contacts__mosaic {
  @include max-width($desktop) {
    display: none;
  }
}

.order-contacts__mosaic--top {
  display: flex;

  .order-contacts__mosaic--rectangled {
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
  }

  .order-contacts__mosaic--rectangled:first-child {
    position: absolute;
    bottom: 149px;
    right: 300px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: left top;
    border-top-right-radius: 50%;
    margin: 0px;
  }

  .order-contacts__mosaic--rectangled:nth-child(2) {
    position: absolute;
    bottom: 138px;
    right: 149px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: center top;
    border-bottom-left-radius: 50%;
  }

  .order-contacts__mosaic--rectangled:nth-child(3) {
    position: absolute;
    bottom: 150px;
    right: 0px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: right top;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

.order-contacts__mosaic--bottom {
  display: flex;

  .order-contacts__mosaic--rectangled:first-child {
    position: absolute;
    bottom: 1px;
    right: 298px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: left bottom;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .order-contacts__mosaic--rectangled:nth-child(2) {
    position: absolute;
    bottom: -6px;
    right: 155px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: center bottom;
    border-radius: 50%;
  }

  .order-contacts__mosaic--rectangled:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 11px;
    width: 138px;
    height: 138px;
    background-image: url(../images/mosaic.jpg);
    background-position: right bottom;
    border-bottom-right-radius: 50%;
  }
}

.take-order__flex {
  @include min-width($desktop) {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }
}

.order-contacts {
  @include min-width($desktop) {
    padding: 0;
    margin: 0;
    width: 530px;
    margin-right: 117px;
  }
}

.take-order__section-feedback {
  @include min-width($desktop) {
    width: 555px;
    margin: 0;
    padding: 0;
    margin-left: 117px;
  }
}

.order-contacts__container {
  @include min-width($desktop) {
    width: 555px;
    margin: 0;
    padding-left: 32px;
  }
}
