<section class="model-examples section">
  <div class="container">
    <h1 class="model-examples__title">МИ СТВОРЮЄМО</h1>
    <ul class="model-examples__list">
      
      <li class="model-examples__item">
      <div class="model-examples__thumb-1">
      <picture>
    <source srcset="../src/images/3d-printing/we-create-img-1@1x.jpg  1x ,
    ../src/images/3d-printing/we-create-img-1@2x.jpg 2x" media="(min-width: 1440px)">
    <source srcset="../src/images/3d-printing/we-create-tablet-img-1@1x.jpg  1x ,
    ../src/images/3d-printing/we-create-tablet-img-1@2x.jpg 2x" media="(min-width: 768px)"/>
    <source srcset="../src/images/3d-printing/we-create-mobile-img-1@1x.jpg  1x ,
    ../src/images/3d-printing/we-create-mobile-img-1@2x.jpg 2x" media="(max-width: 767px)"/>      
    <img class="model-examples__img-1" src="../src/images/3d-printing/we-create-mobile-img-1@1x.jpg" alt="прототип-мотора">
    </picture>
  </div>
    <p class="model-examples__text">ПРОТОТИПИ</p>
      </li>
      
      <li class="model-examples__item">
        <div class="model-examples__thumb-2">
      <picture>
      <source srcset="../src/images/3d-printing/we-create-img-2@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-img-2@2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="../src/images/3d-printing/we-create-tablet-img-2@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-tablet-img-2@2x.jpg 2x" media="(min-width: 768px)"/>
      <source srcset="../src/images/3d-printing/we-create-mobile-img-2@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-mobile-img-2@2x.jpg 2x" media="(max-width: 767px)"/>      
      <img class="model-examples__img-2" src="../src/images/3d-printing/we-create-mobile-img-2@1x.jpg" alt="макет-будівлі">
      </picture>
    </div>
      <p class="model-examples__text">МАКЕТИ</p>

      </li>
      
      <li class="model-examples__item">
        <div class="model-examples__thumb-3">
      <picture>
      <source srcset="../src/images/3d-printing/we-create-img-3@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-img-3@2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="../src/images/3d-printing/we-create-tablet-img-3@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-tablet-img-3@2x.jpg 2x" media="(min-width: 768px)"/>
      <source srcset="../src/images/3d-printing/we-create-mobile-img-3@1x.jpg  1x ,
      ../src/images/3d-printing/we-create-mobile-img-3@2x.jpg 2x" media="(max-width: 767px)"/>      
      <img  class="model-examples__img-3" src="../src/images/3d-printing/we-create-mobile-img-3@1x.jpg" alt="декор-бутилки">
      </picture>
    </div>
      <p class="model-examples__text">ДЕКОР</p>  
      
    </li>
      <li class="model-examples__item">
        <div class="model-examples__thumb-4">
        <picture>
        <source srcset="../src/images/3d-printing/we-create-img-4@1x.jpg  1x ,
        ../src/images/3d-printing/we-create-img-4@2x.jpg 2x" media="(min-width: 1440px)">
        <source srcset="../src/images/3d-printing/we-create-tablet-img-4@1x.jpg  1x ,
        ../src/images/3d-printing/we-create-tablet-img-4@2x.jpg 2x" media="(min-width: 768px)"/>
        <source srcset="../src/images/3d-printing/we-create-mobile-img-4@1x.jpg  1x ,
        ../src/images/3d-printing/we-create-mobile-img-4@2x.jpg 2x" media="(max-width: 767px)"/>      
        <img class="model-examples__img-4" src="../src/images/3d-printing/we-create-mobile-img-4@1x.jpg" alt="дизайн-куба">
        </picture>
      </div>
        <p class="model-examples__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>

    </ul>

  </div>
</section>