<section class="process-description">
  <div class="process-description__container container">
    <h2 class="visually-hidden">Опис процесу</h2>
    <ul class="process-description__list">
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ../src/images/3d-printing/services-img-1@1x.jpg 1x,
              ../src/images/3d-printing/services-img-1@1x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-tablet-img-1@1x.jpg 1x,
              ../src/images/3d-printing/services-tablet-img-1@1x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-mobile-img-1@1x.jpg 1x,
              ../src/images/3d-printing/services-mobile-img-1@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process-description__img-1"
            src="../src/images/3d-printing/services-mobile-img-1@1x.jpg"
            width="280"
            height="384.35"
            alt="ельфова вежа"
          />
        </picture>
        <div class="process-description__div-1">
          <div class="process-description__grid-1">
            <p class="process-description__text">
              <span class="process-description__span">3D-друк</span> - ми
              використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="process-description__text">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="process-description__text">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
          </div>
          <a class="process-description__link" href="/src/take-order.html"
            ><button class="process-description__button btn" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button></a
          >
        </div>
      </li>
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ../src/images/3d-printing/services-img-2@1x.jpg 1x,
              ../src/images/3d-printing/services-img-2@1x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-tablet-img-2@1x.jpg 1x,
              ../src/images/3d-printing/services-tablet-img-2@1x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-mobile-img-2@1x.jpg 1x,
              ../src/images/3d-printing/services-mobile-img-2@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process-description__img-2"
            src="../src/images/3d-printing/services-mobile-img-2@1x.jpg"
            alt="картинка 3d друку"
          />
        </picture>
        <div class="process-description__div-2">
          <div class="process-description__grid-2">
            <p class="process-description__text">
              <span class="process-description__span">3D-моделювання</span> - це
              процес розробки математичного уявлення будь-якої поверхні об'єкта
              в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
            </p>
            <p class="process-description__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="process-description__text">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
          </div>
          <a class="process-description__link" href="/src/take-order.html"
            ><button class="process-description__button btn" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button></a
          >
        </div>
      </li>
      <li class="process-description__item">
        <picture>
          <source
            srcset="
              ../src/images/3d-printing/services-img-3@1x.jpg 1x,
              ../src/images/3d-printing/services-img-3@1x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-tablet-img-3@1x.jpg 1x,
              ../src/images/3d-printing/services-tablet-img-3@1x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../src/images/3d-printing/services-mobile-img-3@1x.jpg 1x,
              ../src/images/3d-printing/services-mobile-img-3@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process-description__img-3"
            src="../src/images/3d-printing/services-mobile-img-3@1x.jpg"
            alt="статуя старого чоловіка"
          />
        </picture>
        <div class="process-description__div-3">
          <div class="process-description__grid-3">
            <p class="process-description__text">
              <span class="process-description__span">3D-сканування</span> -
              зняття даних, шляхом аналізу форми предмета і на основі отриманих
              даних створення її 3D-моделі.
            </p>
            <p class="process-description__text">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
          </div>
          <a class="process-description__link" href="/src/take-order.html"
            ><button class="process-description__button btn" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button></a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
