.scan-hero {
  > .container {
    @include min-width($tablet) {
      position: relative;
    }

    @include min-width($desktop) {
      position: relative;
      padding-left: 149px;
    }
  }
}

.scan-hero {
  padding-top: 20px;
  @include min-width($tablet) {
    padding-top: 30px;
  }
  @include min-width($desktop) {
    padding-top: 45px;
  }
}

.scan-hero__hero-title {
  margin-bottom: 16px;
  @include min-width($desktop) {
    margin-bottom: 24px;
  }
}

.scan-hero-list {
  @include min-width($tablet) {
    padding-right: 190px;
  }

  @include min-width($desktop) {
    display: flex;
  }
}

.scan-hero-list__part-left {
  margin-bottom: 16px;

  @include min-width($desktop) {
    max-width: 515px;
    margin-right: 72px;
    margin-bottom: 0;
  }
}

.scan-hero-list__text {
  @include min-width($desktop) {
    @include font(300, 18, 23);
  }

  &:not(:last-child) {
    margin-bottom: 16px;

    @include min-width($desktop) {
      margin-bottom: 24px;
    }
  }
}

.scan-hero-list__text--indent {
  @include min-width($tablet) {
    display: block;
  }

  @include min-width($desktop) {
    display: block;
  }
}

.scan-hero-list__text--indent-desktop {
  @include min-width($desktop) {
    display: block;
  }
}

.scan-hero__img {
  display: block;
  margin: 20px auto 0 auto;
  width: 280px;
  height: 199px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-image: url('../images/3d-scanning/3d-scanning-hero-mobile@1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/3d-scanning/3d-scanning-hero-mobile@2x.jpg');
  }

  @include min-width($tablet) {
    position: absolute;
    top: 161px;
    right: 2px;
    width: 241px;
    height: 172px;
    margin: 0;
    background-image: url('../images/3d-scanning/3d-scanning-hero-tablet@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/3d-scanning-hero-tablet@2x.jpg');
    }
  }

  @include min-width($desktop) {
    position: absolute;
    top: 176px;
    right: 269px;
    width: 435px;
    height: 286px;
    margin: 0;

    background-image: url('../images/3d-scanning/3d-scanning-hero@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/3d-scanning-hero@2x.jpg');
    }
  }
}
