.scan-process {
  padding-bottom: 40px;
}

.scan-process__section-title {
  margin-bottom: 16px;

  @include min-width($tablet) {
    margin-bottom: 24px;
    padding-left: 28px;
  }

  @include min-width($desktop) {
    margin-bottom: 40px;
    padding-left: 117px;
  }
}

.scan-process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  @include max-width(767px) {
    gap: 16px 20px;
  }
}

.scan-process-list__item {
  width: 130px;
  height: 182px;
  padding: 15px 19px;
  flex-basis: calc((100% - 20px) / 2);

  @include min-width($tablet) {
    width: 152px;
    height: 210px;
    padding: 20px 23px;
    flex-basis: calc((100% - 96px) / 4);
  }

  @include min-width($desktop) {
    width: 320px;
    height: 381px;
    padding: 51px 40px 27px 40px;
    flex-basis: calc((100% - 96px) / 4);
  }

  background: $background-color;
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;
}

.scan-process-list__item::before {
  content: '';
  display: block;
  margin-bottom: 16px;
  width: 91px;
  height: 81px;

  @include min-width($tablet) {
    width: 106px;
    height: 95px;
  }

  @include min-width($desktop) {
    margin-bottom: 4px;
    width: 240px;
    height: 240px;
  }

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.scan-process-list__item--prepare::before {
  background-image: url('../images/3d-scanning/scan-process-img-mobile-1@1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/3d-scanning/scan-process-img-mobile-1@2x.jpg');
  }

  @include min-width($tablet) {
    background-image: url('../images/3d-scanning/scan-process-img-tablet-1@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-tablet-1@2x.jpg');
    }
  }

  @include min-width($desktop) {
    background-image: url('../images/3d-scanning/scan-process-img-1@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-1@2x.jpg');
    }
  }
}

.scan-process-list__item--create::before {
  background-image: url('../images/3d-scanning/scan-process-img-mobile-2@1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/3d-scanning/scan-process-img-mobile-2@2x.jpg');
  }

  @include min-width($tablet) {
    background-image: url('../images/3d-scanning/scan-process-img-tablet-2@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-tablet-2@2x.jpg');
    }
  }

  @include min-width($desktop) {
    background-image: url('../images/3d-scanning/scan-process-img-2@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-2@2x.jpg');
    }
  }
}

.scan-process-list__item--transformation::before {
  background-image: url('../images/3d-scanning/scan-process-img-mobile-3@1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/3d-scanning/scan-process-img-mobile-3@2x.jpg');
  }

  @include min-width($tablet) {
    background-image: url('../images/3d-scanning/scan-process-img-tablet-3@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-tablet-3@2x.jpg');
    }
  }

  @include min-width($desktop) {
    background-image: url('../images/3d-scanning/scan-process-img-3@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-3@2x.jpg');
    }
  }
}

.scan-process-list__item--printing::before {
  background-image: url('../images/3d-scanning/scan-process-img-mobile-4@1x.jpg');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/3d-scanning/scan-process-img-mobile-4@2x.jpg');
  }

  @include min-width($tablet) {
    background-image: url('../images/3d-scanning/scan-process-img-tablet-4@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-tablet-4@2x.jpg');
    }
  }

  @include min-width($desktop) {
    background-image: url('../images/3d-scanning/scan-process-img-4@1x.jpg');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/3d-scanning/scan-process-img-4@2x.jpg');
    }
  }
}

.scan-process-list__subtitle {
  @include font(400, 14, 18);
  text-align: center;

  @include min-width($desktop) {
    @include font(300, 18, 23);
  }

  color: $accent-color;
}
