.hours {
  flex-direction: column;
  @include min-width($tablet) {
  }
}

.phone-link {
  color: $main-color;
}

.padding-font {
  margin-bottom: 8px;
}

.phone-link__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.email-link {
  color: $main-color;
}

.phone {
  @include max-width($tablet) {
    margin-bottom: 24px;
  }
  @include min-width-max-width($tablet, $desktop) {
    margin-right: 25px;
  }
  @include min-width($desktop) {
    margin-bottom: 68px;
  }
}

.email {
  @include max-width($tablet) {
    margin-bottom: 24px;
  }
  @include min-width($desktop) {
    margin-bottom: 68px;
  }
}

.hours {
  @include min-width-max-width($tablet, $desktop) {
    text-align: right;
  }
}

.hours-title {
  text-transform: uppercase;
}

.hours-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contact-left {
  @include min-width-max-width($tablet, $desktop) {
    display: flex;
  }
}

.contacts-container {
  @include min-width-max-width($tablet, $desktop) {
    display: flex;
    justify-content: space-between;
  }
  @include min-width($desktop) {
    width: 515px;
    margin: 0;
    padding: 0;
    margin-left: 117px;
  }
}

.contacts-info {
  margin-bottom: 60px;
  @include font(400, 16, 20);
  @include min-width($desktop) {
    font-size: 18px;
    width: 515px;
    margin: 0;
    padding: 0;
  }
}

.contacts-flex {
  @include min-width($desktop) {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 80px;
    margin-top: 100px;
  }
}
