.emoji{
    width:22px;
}
.emoji-flex{
    display: flex;
}
.secondary-title {
    color: #2B2B2B;
}

.hero-contacts__hero-title{
    margin-bottom: 20px;
    color: #487996;
}

.video-container{
    padding: 20px 0px;
}
.video-style{
    border-radius: 15px;
}