.emoji {
  width: 22px;
}

.emoji-flex {
  display: flex;
}

.hero-contacts__hero-title {
  margin-bottom: 20px;
  color: $accent-color;
}

.video-style {
  border-radius: 15px;

  width: 280px;
  height: 171px;
}

.hero-wharp{
          
            gap: 30px;
           
          @include min-width($tablet){

display: flex;
          }
        }