.hero-contacts__container {
  @include min-width($desktop) {
    padding-left: 117px;
  }
}

.emoji-flex {
  display: flex;
  @include min-width($desktop) {
    display: block;
  }
}

.emoji {
  width: 22px;
  margin-left: 8px;
  @include min-width($tablet) {
    margin-left: 21px;
  }
  @include min-width($desktop) {
    width: 49px;
    margin-left: 0;
    margin-top: 56px;
  }
}

.contacts__hero-title {
  @include max-width($tablet) {
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  @include min-width($tablet) {
    margin-bottom: 16px;
  }
  @include min-width($desktop) {
    margin-bottom: 24px;
  }
}

.video-style {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.iframe-wrap {
  height: auto;
  @include max-width($tablet) {
    margin-bottom: 16px;
  }
  @include min-width($tablet) {
    width: 336px;
    height: 261px;
  }

  @include min-width($desktop) {
    width: 555px;
    height: 313px;
  }
}

.text-wrap {
  @include max-width($tablet) {
    margin: 0 auto;
  }
  @include min-width($tablet) {
    max-width: 336px;
  }
  @include min-width($desktop) {
    max-width: 515px;
  }
}

.hero-contacts {
  padding-top: 20px;
  @include min-width($tablet) {
    padding-top: 30px;
  }
  @include min-width($desktop) {
    padding-top: 45px;
  }
}

.hero-contacts__wrap {
  @include min-width($tablet) {
    display: flex;
    gap: 32px;
  }
}
